/* PADRÃO DE CORES DO MANUAL SENAI */
:root {
    --red: #e30613;
    --black: #000000;
    --white: #ffffff;
    --gray: #878787;
    --redMedium: #9a1915;
    --redDark: #681413;
    --orange: #ffc812;
    --orange: #ff9e1f;
    --orange: #e86a10;
}

/* AQUI ESTÃO SOMENTE AS TAGS COM SUAS PROPRIEDADES */
* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

html {
    width: 100%;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #f2cf66;
    width: 100%;
}

header {
    background-color: var(--white);
    color: var(--black);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    align-items: center;
}

a {
    text-decoration: none;
    align-items: center;
}

ul {
    list-style: none;
}

main {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-size: 48px;
    padding-top: 16px;
    padding-bottom: 4px;
    margin: 0;
    color: var(--black);
}

h2 {
    text-align: center;
    font-size: 32px;
    padding-top: 16px;
    padding-bottom: 4px;
    margin: 0;
    color: var(--black);
}

footer {
    background-color: var(--red);
    width: 100%;
    bottom: 0;
    padding-bottom: 10px;
    position: relative;
}


/* AQUI COMEÇA OS STYLES DAS CLASSES E IDS */
.container {
    max-width: 1140px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 50px 0 20px 0;
}

.navbar-menu {
    display: flex;
    align-items: center;
}

.navbar-logo {
    align-items: center;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.navbar-items-menu {
    padding: 0;
    border-bottom: 5px solid transparent;
}

.nav-link {
    font-weight: 700;
    color: var(--black);
    padding-left: 10px;
    padding-right: 10px;
}

.footer-icons {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.items-social-media {
    color: var(--white);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
}

.footer-link {
    color: var(--white);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.imagem {
    width: 100%;
    height: 500px;
}

#logoml {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoMultiple {
    width: 30%;
}

#logoPassado {
    width: 30%;
}

.logs{
    display: contents;
}

.mapas{
    margin-bottom: 30px;
}

.videos {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.fab{
    margin: 10px;
}

@media (max-width:1140px) {
    .vid{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
     iframe{
        margin: 15px 0;
     }
}